[package]
name = "wasmer"
version = "1.1.0"
authors = ["Wasmer Engineering Team <engineering@wasmer.io>"]
edition = "2018"
description = "Python extension to run WebAssembly binaries"
readme = "README.md"
repository = "https://github.com/wasmerio/wasmer-python"
keywords = ["python", "extension", "webassembly"]
categories = ["wasm"]
build = "build.rs"
publish = false

[lib]
name = "wasmer"
crate-type = ["cdylib"]

[dependencies]
wasmer = { version = "2.1.1", default-features = false, features = ["wat", "universal", "dylib", "compiler"] }
wasmer-engines = { path = "../engines/" }
wasmer-types = "2.1.1"
wasmer-wasi = "2.1.1"
pyo3 = { version = "0.16", features = ["extension-module", "auto-initialize"] }
wat = "1.0"
wasmprinter = "0.2"
cfg-if = "1.0"

[build-dependencies]
pyo3-build-config = "0.15"

[package.metadata.maturin]
classifier = [
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Rust",
    "Topic :: Software Development",
    "Topic :: Software Development :: Compilers",
    "Topic :: Software Development :: Interpreters",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[package.metadata.maturin.project-url]
"Source Code" = "https://github.com/wasmerio/wasmer-python/"
"Bug Tracker" = "https://github.com/wasmerio/wasmer-python/issues"
"Documentation" = "https://github.com/wasmerio/wasmer-python/"
